*{
    font-family: "Copperplate Gothic Light", "League Spartan Variable", sans-serif; 

}

.sectionLink{
  text-decoration: none;
  color:white;
  font-size:35px;

  transition-duration: 1s;
}

#projectsLink{
  transform: rotate3d(0, 1, 0.2, 30deg);
  animation-duration: 0.7s;
}
#projectsLink:hover{
  transform: translate3d(20px, 0, 0) rotate3d(0, 1, 0.2, 30deg) scale3d(1.1, 1.1, 1.1);
}

#experienceLink{
  transform: rotate3d(0, 1, -0.2, 30deg);
  animation-duration: 0.7s;
}
#experienceLink:hover{
  transform: translate3d(-20px, 0, 0) rotate3d(0, 1, -0.2, 30deg) scale3d(1.1, 1.1, 1.1);
}

#aboutLink{
  transform: rotate3d(0, 1, 0.1, 30deg);
  animation-duration: 0.7s;
}
#aboutLink:hover{ 
  transform: translate3d(20px, 0, 0) rotate3d(0, 1, 0.1, 30deg) scale3d(1.1, 1.1, 1.1);
}

#contactLink{
  transform: rotate3d(0, -1, -0.1, 30deg);
  animation-duration: 0.7s;
}
#contactLink:hover{ 
  transform: translate3d(-20px, 0, 0) rotate3d(0, -1, -0.1, 30deg) scale3d(1.1, 1.1, 1.1);
}

#educationLink{
  transform: rotate3d(1, 0, 0, 30deg);
}
#educationLink:hover{ 
  transform: translate3d(0, -20px, 0) rotate3d(1, 0, 0, 30deg) scale3d(1.1, 1.1, 1.1);
}

#frontLayerWrapper, #backLayer{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: radial-gradient(ellipse at bottom, #1a008f 0%, #100b00 100%);
}

.pageTitleWrapper
{

}

.pageTitle
{
  position: absolute;
  font-size: 55px;
  color: black;
  top: 10px;
  left: 30px;
}



hr{
  height: 3px;
  background-color: white;
  opacity: 1 !important;
}


@property --myColor1 {
  syntax: '<color>';
  initial-value: transparent;
  inherits: false;
}

@property --myColor2 {
  syntax: '<color>';
  initial-value: transparent;
  inherits: false;
}

.checkMoreButton{
 background: linear-gradient(to left, var(--myColor1), var(--myColor2));
 transition: --myColor1 1s;
 cursor:pointer;
}

.checkMoreButton:hover{
  --myColor1: rgba(0, 0, 0, 0.8);
}

